<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p></p>
            <img src="img/uyfbadge.jpg" class="img-responsive center-block">
            <hr>
            <h2>Unique You Fitness Basketball Coaching</h2> 
            <hr>
            <p>Unique You Fitness is a small business located in Spokane, Washington designed to help young athletes become strong, confident individuals, both on and off the court.</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
