<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p></p>
            <img src="img/uyfbadge.jpg">
            <!-- <h1>Unique You Fitness</h1> -->
            <h2>Basketball Coaching</h2>
            <hr>
            <p>Unique You Fitness is a small business designed to help young athletes become strong, confident individuals, not only on the court but off the court as well. </p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
