<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>1:1 Coaching</h3>
                    <p class="text-muted">Ball handling, shooting technique, proper footwork, and guard/post work.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Small Group Coaching</h3>
                    <p class="text-muted">Focus on teaching fundamental basketball skills, but also on building strong positive attitudes and confidence.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Coached for Success</h3>
                    <p class="text-muted">Strong, confident individuals. On and off the court.</p>
                </div>
            </div>
        </div>
    </div>
</section>
